<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <% if (locals.error) { %>
    <div class="error-message">
      <p><%= error %></p>
    </div>
  <% }else{   %>

  
    <% if (locals.uvFactor ) { %>
    <h1> Uv factor is <%= uvFactor %> </h1>
  <% if (uvFactor <= 5) { %>

  <h2> No sun screen is needed today </h2>
  <% } else { %>
    <h2> 
     Sunscreen should be applied
    </h2>
    <% } %>
  
    <% } else if (locals.uvFactorTwo) { %>
      <h1> Uv factor is <%= uvFactorTwo %> in <%=country%>, <%=city%> </h1>
      <h2>The temperature is <%= temperature %>°C, wind speed is <%= wind %> km/h,humdity is <%=humdity %></h2>
      <% if (uvFactorTwo <= 5) { %>

        <h2> No sun screen is needed today </h2>
        <% } else { %>
          <p class = "sunscreen"> 
           Sunscreen should be applied
          </p>
          <% } %>
    <% } else { %>
      <h2 id="parametars"> 
     Enter longitude and lattitude for uv factor, or enter ip address of city 
       </h2>
    <% } %>
    <% } %>
  </div>

  <form action="/" method="post">
    <label for="headline">Longitude</label>
    <input type="text" id="idInput" name="longitude" >

    <label for="secretInput">Latitude</label>
    <input type="text" id="secretInput" name="lattitude" >

 
    <input id="post" type="submit" value="Submit" >
   
  </form>
</div>
</div>

<form action="/ipaddress" method="post">
  <label for="headline">Enter iP address</label>
  <input type="text" id="idInput" name="ipaddress" >

<input id="post" type="submit" value="Submit" >
 
</form>
</div>
   
  <script src="index.js" type="module"></script>   
</body>

</html>